.nav {
  padding-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__item {
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $secondary;
  padding-block-end: 0.75rem;
  transition: 0.3s color ease-out;

  &:hover {
    color: $primary;
  }
}

.nav__item.selected {
  color: $primary;
  border-block-end: 1.5px solid $primary;
}
