* {
  font-family: $font;
  margin: 0;
}

.wrapper {
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */

  max-width: 1170px; /* 2 */

  padding-right: 1rem; /* 3 */
  padding-left: 1rem; /* 3 */
}
